<component name="ArtifactManager">
  <artifact type="war" name="springpractice:war">
    <output-path>$PROJECT_DIR$/springpractice/target</output-path>
    <root id="archive" name="spring-boot-practice-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springpractice:war exploded" />
    </root>
  </artifact>
</component>